extends /layouts/default.pug

block vars
  - var isHomePage = false
  - var title = "Корзина"

block header
  include /components/base/header.pug

block content
  main.main-container__basket
  include /components/blocks/basket-main.pug

block footer
  include /components/base/footer.pug
