extends /layouts/default.pug

block vars
  - var isHomePage = false
  - var title = "Каталог"

block header
  include /components/base/header.pug

block content
  main.main-container__catalog
    include /components/blocks/catalog-hero.pug
    include /components/blocks/catalog-main.pug

block footer
  include /components/base/footer.pug
