include /components/mixins/mixins.pug

section.main-container__brands.brands
    div.brands__container
        h2 Бренды
        ul.brands__list
            li.brands__item 
                img(src="img/faiz.svg", alt="логотип")
            li.brands__item 
                img(src="img/faiz.svg", alt="логотип")
            li.brands__item 
                img(src="img/faiz.svg", alt="логотип")
            li.brands__item 
                img(src="img/faiz.svg", alt="логотип")
            li.brands__item 
                img(src="img/faiz.svg", alt="логотип")