include /components/mixins/mixins.pug

section.main-container__catalog-hero.catalog-hero
  div.catalog-hero__container
    ul.catalog-hero__list.swiper-wrapper
      li.catalog-hero__item.swiper-slide
        div.catalog-hero__content-block
          div.catalog-hero__text-block
            h3 Новогодние скидки в IN MARKET
            p успей заказать наушники со скидкой 20%
          div.catalog-hero__image-block

