include /components/mixins/mixins.pug

section.main-container__headphones.headphones
    div.headphones__container
      ul.popular__list.card
        +card('004', 'popular4', 'Наушники', 'Наушники бренда FaizFull', '1200р')
        +card('101', 'popular4', 'Наушники', 'Наушники бренда FaizFull', '2200р')
        +card('102', 'popular4', 'Наушники', 'Наушники бренда FaizFull', '3200р')
        +card('103', 'popular4', 'Наушники', 'Наушники бренда FaizFull', '800р')
