include /components/mixins/mixins.pug

section.main-container__hero.hero
  div.hero__container
    div.hero__description
      h3 Цены, которые привлекают
      span Текст
      p Текст
    a.hero__description-link(href="/")
      span Связаться
    div.hero__slider-container.hero-swiper
      ul.hero__slider-list.swiper-wrapper
        li.hero__slider-item.swiper-slide
