include /components/mixins/mixins.pug

section.main-container__popular.popular
  div.popular__container
    h2 Популярное
    ul.popular__list.card
      +card('001', 'popular1', 'Внешний акумулятор', 'Внешний акумулятор бренда FaizFull', '700р')
      +card('002', 'popular2', 'Зарядный блок', 'Зарядный блок бренда FaizFull', '350р')
      +card('003', 'popular3', 'Колонка', 'Колонка бренда FaizFull', '1000р')
      +card('004', 'popular4', 'Наушники', 'Наушники бренда FaizFull', '1200р')
