include /components/mixins/mixins.pug

section.main-container__running-line.running-line
    div.running-line__container
        marquee(behavior="scroll", direction="left", scrollamount="10") 
            h3 при заказе оптом до 10 декабря скидка 20% &nbsp;&bull;&nbsp; при заказе оптом до 10 декабря скидка 20% &nbsp;&bull;&nbsp; при заказе оптом до 10 декабря скидка 20% &nbsp;&bull;&nbsp; при заказе оптом до 10 декабря скидка 20% &nbsp;&bull;&nbsp; при заказе оптом до 10 декабря скидка 20%