@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.basket {
  position: absolute;
  top: 0;
  background-color: white;
  right: 0;
  z-index: 9;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &--active {
    transform: translateX(0);
  }
}

.basket__container {
  display: flex;
  flex-direction: column;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

.basket__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
