@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.basket__container {
  display: flex;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

.basket__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
