@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.brands__container {
  h2 {
    font-size: 35px;
  }
}

.brands__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brands__item {
  width: 260px;
  height: 380px;
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.28);
  background-color: $color-background-white;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
      box-shadow: 1px 1px 33px rgba(80, 63, 160, 0.69);
      scale: 1.01;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
