@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.button {
  width: 327px;
  height: 50px;
  border: none;
  border-radius: 12px;
  padding: 0;
  box-sizing: border-box;
  font-family: $basic-font;
  font-style: normal;
  cursor: pointer;
  transition: color 0.3s ease;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.button-click {
  grid-template-columns: repeat(3, 1fr);
  width: 110px;
  height: 40px;
  background-color: $color-background-dark-blue;
  border-radius: 16px;
  position: relative;
  opacity: 0;
  display: none;

  &.show {
    display: grid;
    animation: slideIn 0.6s ease forwards;
  }

  @keyframes slideIn {
    from {
      width: 40px;
      opacity: 0;
    }
    to {
      width: 110px;
      opacity: 1;
    }
  }

  &::after {
    content: "";
    display: block;
    background-color: $color-background-blue-alice;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
  }

  span {
    font-family: $basic-font;
    color: $color-text-white;
  }

  .button-click__less,
  .button-click__more {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover {
      scale: 1.1;
    }

    &:active {
      background-color: $color-background-light-blue;
      scale: 1;
    }
  }

  .button-click__more {
    &:active {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

  .button-click__less {
    &:active {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }

  .button-click__text {
    font-size: 18px;
    background-color: $color-background-dark-blue;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
}