@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.card__item {
  width: 320px;
  height: 600px;
  box-sizing: border-box;

  picture {
    display: flex;
  }

  img {
    width: 100%;
    height: 420px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-size: contain;
  }
}

.card__content {
  border: 1px solid #a39d9d;
  border-top: none;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 20px;
  height: 180px;
  box-sizing: border-box;
}

.card__item-text {

  h5 {
    font-size: 25px;
    margin: 0 0 20px 0;
  }

  p {
    margin: 0 0 25px 0;
  }
}

.card__item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 20px;
    font-weight: 700;
  }

}

.card__item-price-button {
  width: 40px;
  height: 40px;
  background-color: $color-background-dark-blue;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;

  svg {
    width: 100%;
    height: 100%;
    color: $color-background-white;
  }

  &:hover {
    scale: 1.1;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 1);
  }
}