@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.catalog-hero__container {
  padding: 0 20px;
}

.catalog-hero__list {
  padding: 0;
  margin: 0;
}

.catalog-hero__content-block {
  width: 100%;
  height: 300px;
  background-color: $color-background-dark-blue;
}

.catalog-hero__text-block {
  color: $color-text-white;

  h3 {
    margin: 0;
    font-size: 30px;
  }
}

.catalog-hero__image-block {
  height: 100%;
  width: 500px;

  img {
    width: 100%;
    height: 100%;
  }
}
