@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.catalog__container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 20px 20px 40px;
}

.catalog__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 0;
}

.catalog__item {
  width: 320px;
  height: 320px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  h3 {
    font-size: 37px;
    color: $color-text-white;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    margin: 0;
    text-align: center;
  }
}
