@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.footer {
  max-width: 1540px;
  margin: 0 auto;
  background-color: $color-background-black;
  margin-bottom: auto;
  display: flex;
  padding: 30px 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.footer__item {
  a {
    text-decoration: none;
    color: $color-text-white;
  }

  span {
    font-size: 18px;
  }
}
