@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.header {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header__navigation-logo {
  picture {
    display: flex;
  }
}

.header__navigation-search {
  margin: 0 0 0 auto;
}

.header__navigation-wrapper-list {
  max-width: 1000px;
  margin: 0;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.header__navigation-wrapper-link {
  text-decoration: none;
  color: $color-text-black;
  padding: 20px 0;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  transition: border-bottom-color 0.8s ease, color 0.4s ease;

  span {
    font-size: 23px;
  }

  &:hover {
    border-bottom-color: $color-background-dark-blue;
    color: $color-background-dark-blue;
  }
}

.header__navigation-basket {
  margin: 0 15px 0 10px;
  position: relative;

  a {
    display: block;
    text-decoration: none;
  }

  span {
    position: absolute;
    font-size: 18px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-background-dark-blue;
    color: white;
    bottom: -4px;
    right: -7px;
  }
}

.header__navigation-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.header__navigation-social-link {
  display: flex;
}
