@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.header {
  margin: 0 auto;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header__navigation-logo {
  picture {
    display: flex;
  }
}

.header__navigation-search {
  margin: 0 0 0 auto;
}

.header__navigation-wrapper-list {
  max-width: 1000px;
  margin: 0;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.header__navigation-wrapper-link {
  text-decoration: none;
  color: $color-text-black;
  padding: 20px 0;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  transition: border-bottom-color 0.8s ease, color 0.4s ease;

  span {
    font-size: 23px;
  }

  &:hover {
    border-bottom-color: $color-background-dark-blue;
    color: $color-background-dark-blue;
  }
}


