@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.hero__description-link {
  text-decoration: none;
}

.hero__container {
  display: flex;
  gap: 20px;
  align-items: stretch;
  margin: 0 0 25px 0;
}

.hero__description {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.hero__slider-container {
  margin-left: auto;
  max-width: 800px;
}

.hero__text-block {
  background-color: $color-background-black;
  color: $color-text-white;
  flex-grow: 1;
  padding: 8%;
  border-radius: 16px;

  h3 {
    font-size: 43px;
    margin: 0 0 35px 0;
  }

  span {
    display: inline-block;
    font-size: 23px;
    margin: 0 0 20px 0;
  }

  p {
    font-size: 23px;
    margin: 0;
  }
}

.hero__description-link {
  display: block;
  background-color: $color-background-dark-blue;
  color: $color-text-white;
  border-radius: 16px;
  padding: 10%;
  text-align: center;

  span {
    font-size: 25px;
    text-transform: uppercase;
  }
}

.hero__slider-container {
  border-radius: 16px;
  overflow: hidden;
}

.hero__slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero__slider-item {
  cursor: pointer;
}
