@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.popular__container {

  margin: 0 0 25px 0;

  h2 {
    font-size: 35px;
    margin: 0 0 17px 0;
  }
}

.popular__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular__item {
  width: 350px;
  height: 630px;
  box-sizing: border-box;

  picture {
    display: flex;
  }

  img {
    width: 350px;
    height: 450px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-size: contain;
  }
}

.popular__content {
  border: 1px solid #a39d9d;
  border-top: none;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 20px;
}

.popular__item-text {

  h5 {
    font-size: 25px;
    margin: 0 0 20px 0;
  }

  p {
    margin: 0 0 25px 0;
  }
}

.popular__item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 20px;
    font-weight: 700;
  }

  button {
    width: 40px;
    height: 40px;
    background-color: $color-background-dark-blue;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  svg {
    width: 100%;
    height: 100%;
    color: white;
  }
}
