@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.popular__container {

  margin: 0 0 25px 0;

  h2 {
    font-size: 35px;
    margin: 0 0 17px 0;
  }
}

.popular__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



