@use "./mixins" as *;

@include font-face("Manrope", 100, normal, "../fonts/manrope-100");
@include font-face("Manrope", 200, normal, "../fonts/manrope-200");
@include font-face("Manrope", 400, normal, "../fonts/manrope-400");
@include font-face("Manrope", 500, normal, "../fonts/manrope-500");
@include font-face("Manrope", 600, normal, "../fonts/manrope-600");
@include font-face("Manrope", 700, normal, "../fonts/manrope-700");
@include font-face("Manrope", 800, normal, "../fonts/manrope-800");
