@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

body {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  font-family: $basic-font;
}

.main-container,
.main-container__catalog,
.main-container__headphones {
  max-width: 1540px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

li {
  list-style: none;
}
