@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

body {
  margin: 0;
}

li {
  list-style: none;
}

.heading-h3 {
  font-family: $basic-font;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.heading-h4 {
  font-family: $basic-font;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.text-h-25 {
  font-family: $basic-font;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.text-he-25 {
  font-family: $basic-font;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

