 /* Fonts */
$basic-font: "Manrope";

 /* Viewports */
$tablet-width: 1023px;
$mobile-width: 767px;

 /*--- Color ---*/
$color-background-white: #FFFFFF;
$color-background-black: #111111;
$color-background-blue-alice: #E2E6FE;
$color-background-dark-blue: #503FA0;
$color-background-light-blue: #6b5bb3;

 /* hero */
$color-text-white: #FFFFFF;
$color-text-black: #111111;
