mixin navigationWrapperItem(text)
  li.wrapper-item
    a(class=`header__navigation-wrapper-link`, href="/")
      span= text

mixin button(text, className, type, disabled)
  button(
    class=`${className} button text-b18 `
    type=`${type}`
    disabled= disabled)= text
    block
