include /components/mixins/mixins.pug

footer.main-footer.footer
  div.footer__container
    ul.footer__list
      li.footer__item
        a(href="/")
          span О нас
      li.footer__item
        a(href="/")
          span Работа у нас
      li.footer__item
        a(href="/")
          span Наши клиенты
