include /components/mixins/mixins.pug

header.main-header.header
  nav.header__navigation
    div.header__navigation-logo
      if isHomePage
        picture
          source(media="(max-width: 767px)", width="130", height="100", type="image/svg+xml", srcset="img/logo_desktop.svg")
          source(media="(max-width: 1023px)", width="130", height="100", type="image/svg+xml", srcset="img/logo_desktop.svg")
          img(src="img/logo_desktop.svg", alt="лого", width="330", height="150")
      else
        a.header__navigation-logo(href="index.html")
          picture
            source(media="(max-width: 767px)", width="130", height="100", type="image/svg+xml", srcset="img/logo_desktop.svg")
            source(media="(max-width: 1023px)", width="130", height="100", type="image/svg+xml", srcset="img/logo_desktop.svg")
            img(src="img/logo_desktop.svg", alt="лого", width="330", height="150")
    div.header__navigation-wrapper
      ul.header__navigation-wrapper-list
        +navigationWrapperItem('Главная', 'index.html')
        +navigationWrapperItem('Каталог', 'catalog.html')
        +navigationWrapperItem('Контакты', '/')
    div.header__navigation-search.search
      form(action="/",  method="post")
        label(for="search")
        input(type="text", name="search", id="search", maxlength="18")
        button(type="button")
          svg
            use(xlink:href=`img/icons/sprite.svg#icon-search`)
    div.header__navigation-basket
      a.header__navigation-basket-link(href="#")
        img(src="img/shopping_basket.png", width="40", height="40", alt="")
        span.header__navigation-basket-text 2
    ul.header__navigation-social-list
      +navigationSocialItem('telegramm', 'https://t.me/inmarket30')
      +navigationSocialItem('watsapp', 'https://wa.me/79608642028')
